.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-end {
  justify-content: flex-end;
}

.zone-card {
  margin-right: 30px;
}

.container {
  margin-left: 200px;
  margin-right: 200px;
}

h2 {
  min-width: 345;
  margin-right: '10%';
  margin-left: '10%';
  margin-top: 5;
}
