.background-photo {
  background-image: url(https://media.istockphoto.com/vectors/wishlist-lettering-on-watercolor-splash-vector-id1202029323);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
